@import 'variables';
@import 'helpers';

/*------------------------------
		Universal
-------------------------------*/

body {
	font-size: 1em;
	font-family: $ff-poppins;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff-playfair;
	color: $heading-color;
	line-height: 120%;
}

a {
		color: $link-color;
		text-decoration: none;

		&:hover {
			color: $brand-color;
		}
}

img {
	max-width: 100%;
	height: auto;
}

/*------------------------------
		ENDS Universal
-------------------------------*/



/*------------------------------
		Site-header
-------------------------------*/

.site-header {
	padding: 70px 0;
}

/*------------------------------
		ENDS Site-header
-------------------------------*/



/*------------------------------
		Site-logo
-------------------------------*/

.site-logo {
	text-align: center;
	margin-bottom: 30px;
}

/*------------------------------
		ENDS Site-logo
-------------------------------*/



/*------------------------------
		Site-nav
-------------------------------*/

.site-nav {
	@include uppercase();
	font-size: 0.75em;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 .9em;
	}

	a {
		display: block;
	}

}

/*------------------------------
		ENDS Site-nav
-------------------------------*/



/*------------------------------
		Info-block
-------------------------------*/

.info-block {

}

.info-block_title {
	margin-bottom: 20px;
	text-align: center;

	h1,h2,h3,h4,h5,h6 {
		font-size: 2rem;
	}
}

.info-block_title--fancy {
	&:after {
		content: "";
		display: inline-block;
		width: 23px;
		height: 2px;
		background-color: $brand-color;
		margin-top: 20px;
		}
	}

.info-block_title--bigger {
	h1,h2,h3,h4,h5,h6 {
		font-size: 4rem;
		color: #121212;
	}
}


.info-block_body {
	margin-bottom: 20px;

	p {
		color: #616161;
		font-size: .9rem;
	}
}

.info-block_subtitle {
	@include uppercase();
	color: $brand-color;
	font-size: 0.7rem;
	font-family: $ff-poppins;
	display: block;

	h1,h2,h3,h4,h5,h6,p {
	}
}

.info-block_cta {
	@include uppercase();
	font-size: 0.7rem;

	a {
		border-bottom: 2px solid $brand-color;
	}
}

/*------------------------------
		ENDS Info-block
-------------------------------*/



/*------------------------------
		Qoute
-------------------------------*/

.quote {
	text-align: center;
	margin: 0 auto 30px auto;

	&:after {
		content: "";
		display: block;
		background-color: $brand-color;
		width: 2px;
		height: 100px;
		margin: 30px auto 20px auto;
	}

}

.quote_body {
	font-family: $ff-playfair;
	color: $heading-color;
	font-size: 1.8rem;
	font-weight: 400;

}

.quote_name {
	@include uppercase();
	font-style: normal;
	font-size: .7rem;
	color: $heading-color;
	display: block;
	margin-top: 20px;
}

/*------------------------------
		ENDS Quote
-------------------------------*/



/*------------------------------
		Showcase
-------------------------------*/

.showcase {
	width:50%;
	margin-bottom: 50px;
}

.showcase--bigger {
	width: 70%;
	margin-top: 40px;
	margin-left: -7%;
}

.showcase_body {
		margin-top: 80px;
	}

/*------------------------------
		ENDS Showcase
-------------------------------*/



/*------------------------------
		Hero
-------------------------------*/

.hero {
	margin-bottom: 50px;
}

/*------------------------------
		ENDS Hero
-------------------------------*/



/*------------------------------
		Media-query
-------------------------------*/

@media (min-width: 500px) {
	.showcase_body {
		width: 70%;
		margin-top: 30px;
		margin-left: 20px;
	}

}

@media (min-width: 720px) {
	.site-nav, .site-logo {
		text-align: left;
	}

	.site-logo {
		margin-bottom: 0;
	}

}

@media (min-width: 800px) {
	.hero {
 position: relative;
 margin-bottom: 150px;
}

	.hero_text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 45%;
	}

	.hero_img {
		text-align: right;

		img {
			width: 85%;
		}
	}

.info-block_title {
	text-align: left;
}

.quote {
	width: 50%;
}


}


/*------------------------------
		ENDS Media-query
-------------------------------*/